---
import Nav from '../components/Nav.tsx';
import '../styles/tailwind.css';
const options = [
  { href: '/', label: 'Inicio' },
  { href: '/about', label: 'Acerca de' },
  { href: '/servicios', label: 'Servicios' },
  { href: '/contacto', label: 'Contacto' },
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Café Aroma</title>
	</head>
	<body>
		<Nav client:load options = {options} />
	</body>
</html>
