---
import CarruselGallery from '../components/CarruselGallery';
import Nav from '../components/Nav.tsx';
import '../styles/global.css';
const options = [
  { href: '/about', label: 'Acerca de' , icon : ' pi pi-users'},
  { href: '/servicios', label: 'Servicios', icon : 'pi pi-briefcase' },
  { href: '/contact', label: 'Contacto' , icon : 'pi pi-phone'},
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Café Aroma</title>
	</head>
	<body >
		<Nav client:load options = {options} />
		<div class="w-full">
			<CarruselGallery client:visible />

		</div>

	</body>
</html>
